@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.ttf") format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  text-align: center;
}

.number {
  font-size: 80px;
}

button {
  all: unset;
  border: 1px solid gray;
  width: 70px;
  font-size: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  user-select: none;
}
button:active {
  transform: translateY(2px);
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
}

.add {
  background-color: greenyellow;
}

.reset {
  background-color: gold;
}

.minus {
  background-color: red;
}
